

tanyassistant/Backend/.env
tanyassistant/Frontend/node_modules/
tanyassistant/Backend/node_modules/
tanyassistant/Frontend/dist/


tanyassistant/Frontend/.env
tanyassistant/package.json
tanyassistant/package-lock.json
